        <style>

        h1 {
              font-family: Gyahegi;
              font-size: 15px;
              color: #F0F8FF
            }

	h2 {		
		font-family: Gyahegi;
		font-size: 40px;
		color: #F0F8FF
}
 	h3 {
              font-family: Bebas Neue;
              font-size: 70px;
              color: #F0F8FF
            }

 	h4 {
              font-family: Arial;
              font-size: 30px;
              text-align: center;
              color: #5C5451
            }

 	h5 {
              font-family: Arial;
              font-size: 17px;
              text-align: center;
              color: #5C5451
            }

        h6 {
              font-family: Gyahegi;
              font-size: 15px;
              color: #F0F8FF
            }

            #logo {
              float: center;
              position: relative;
              text-align: center;
              width: 100%;
              height: 20px;
              background-color: #DB0202;
            }

            #menu {
              float: right;
              position: relative;
              width: 100%;
              background-color: #DB0202;
            }

            #titulo {
              float: left;
              position: relative;
              width: 100%;
              background-color: #DB0202;
            }

            #info {
              float: center;
              position: relative;
              text-align: justify
              width: 100%;
            }

            #corpo {
              float: center;
              position: relative;
              text-align: justify;
              width: 50%;
              height: 800px;
            }

            #rodape {
              float: center;
              position: relative;
              width: 10%;
              height: 70px;
              background-color: #DB0202;
            }

        </style>
